<div class="register-box">
  <div class="login-box-body">
    <div class="login-logo">
      <a routerLink='/account/login'>
        <img src="assets/img/infowyzard.png" alt="Infowyzard" />
      </a>
    </div>
    <p class="login-box-msg">Register a new membership</p>
    <form action="system_admin_home.html" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Full Name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <div class="error_message">
          Please enter Full Name
        </div>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div class="error_message">
          Please enter email
        </div>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password">
        <span clas5ss="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="error_message">
          Please enter Password
        </div>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Retype Password">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <div class="error_message">
          Please enter Password
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox">
              I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <a routerLink='/account/login'>I already have a membership</a><br>
  </div>
</div>
