<div class="login-box">

  <!-- /.login-logo -->
  <div class="login-box-body">
    <div class="login-logo">
      <a href="">
        <img src="assets/img/infowyzard.png" alt="Infowyzard" />
        <!--<b>Logo</b> Here-->
      </a>
    </div>
    <alert id="0"></alert>
    <p class="login-box-msg">Sign in to start your session</p>

    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group has-feedback"> 
        <div class="form-group">
          <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" [(ngModel)]="model.username" placeholder="Email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div class="error_message" *ngIf="email.errors.required">Email is required</div>
            <!--<div class="error_message" [hidden]="!emailref.errors?.pattern">Email must be a valid email address</div>-->
          </div>
        </div> 
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required (keydown)="onKeydown($event)">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="error_message" *ngIf="f.submitted && !password.valid">
          Please enter Password
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <!--<label>
            <input type="checkbox" />
            Keep me logged in

          </label>-->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="loading">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- /.social-auth-links -->
    <br>
    <a routerLink='/account/forgotpassword'>I forgot my password</a>
    <a routerLink='/account/activateuser' class="pull-right">Activate New User</a><br>
  </div>
  <!-- /.login-box-body -->
</div>
